h1
{
front-family:vernada; 
background:palegreen;
font-size: 16pt; 
color:#333;
text-align: center;

}
p 
{front-family:vernada; 
background:palegreen;
font-size: normal; 
color:#333;
text-align: center;
}
body
{
front-family:vernada; 
background:palegreen;
font-size: 16pt; 
color:#333;
text-align: center;
}